<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiggy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
    <div class="logo">
        <img src="/image/logo.png" alt="Swiggy Logo">
        <h1>Swiggy</h1>
    </div>

    <div class="nav-links">
        <a href="#">Swiggy Corporate</a>
        <a href="#">Partner with us</a>
        <button class="light">Get the App</button>
        <button class="dark"> <a href="/login">Sign In</a> </button>
    </div>
</nav>

<section class="hero">
    <h1>
        Order food & groceries. Discover <br>
        best restaurants. Swiggy it!
    </h1>

    <div class="search-box">
        <input type="text" placeholder="Enter your delivery location">
        <input type="text" placeholder="Search for restaurant, cuisine or a dish">
    </div>
</section>

<section class="cards">
    <article>
        <h3>FOOD DELIVERY</h3>
        <p>FROM RESTAURANTS</p>
        <span>UPTO 60% OFF</span>
        <img src="/image/food.png" alt="Food">
    </article>

    <article>
        <h3>INSTAMART</h3>
        <p>INSTANT GROCERY</p>
        <span>UPTO 50% OFF</span>
        <img src="/image/instamart.png" alt="Instamart">
    </article>

    <article>
        <h3>DINEOUT</h3>
        <p>EAT OUT & SAVE MORE</p>
        <span>UPTO 60% OFF</span>
        <img src="/image/dineout.png" alt="Dineout">
    </article>
</section>

</body>
</html>
