<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swiggy</title>
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
    
        <nav>
            <div class="logo">
            <img src="/image/logo.png" alt="Swiggy Logo">
            <h1 class="gap">Swiggy</h1>
            </div>  
            <div >
            <a href="">Swiggy Corporate</a>
            <a href="">Partner with us</a>
            <button class="light"><h4>Get the App</h4></button>
            <button class="dark"><a href="/login">Sign In</a></button>
            </div>
        </nav>
        
        <figure class="left">
            <img src="/image/left.png" alt="left image">
        </figure>
        <figure class="right">
            <img src="/image/right.png" alt="right image" >
        </figure>
        <section class="hero">
            <h1>Order food & groceries. Discover <br>
      best restaurants. Swiggy it!</h1>
      <input type="text" placeholder="Enter your delivery location classic">
      <input type="text " placeholder="Search for restaurant, cuisine or a dish">

      </section>
   
    <section class="cards">
        <article id="food">
            <h3>FOOD DELIVERY</h3>
            <P>FROM RESTAURANTS</P>
           <span><a href="">UPTO 60% OFF</a></span>
            <figure>
                <img src="/image/food.png" alt="food delivery">
            </figure>
           <figure class="arrow">
            <button><img src="/image/arrow.png" alt="arrow"></button>
           </figure>
        </article>
         <article>
            <h3>INSTAMART</h3>
            <P>INSTANT GROCERY</P>
            <span><a href="">UPTO 50% OFF</a></span>
            <figure>
                <img src="/image/instamart.png" alt="instamart">    
            </figure>
            <figure class="arrow">
            <button><img src="/image/arrow.png" alt="arrow"></button>
           </figure>

        </article>
         <article>
            <h3>DINEOUT</h3>
            <P>EAT OUT & SAVE MORE</P>
             <span><a href="">UPTO 60% OFF</a></span>
            <figure>
                <img src="/image/dineout.png" alt="dineout">
            </figure>
             <figure class="arrow">
           <button><img src="/image/arrow.png" alt="arrow"></button>
           </figure>
            
        </article>

    </section>
    <h1>gold:{{msg}}</h1>
    
</body>
</html>