<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <section>
    <h1>Login</h1>
    <p>or <span><a href="/login/register" >create an account</a></span></p>
    <h2>___</h2>
    <form action="/form" method="post">
        <label for="Username">Username:</label>
        <input type="text" name="username" placeholder="Username" required><br>
        <label for="Password">Password:</label>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit" class="submit">Login</button>
    </form>
    <P>By clicking on Login, I accept the <B> Terms & Conditions & Privacy Policy</B></P>
   </section> 
  
  <button class="home"><a href="/home">Back to home</a></button>
   
  
</body>
</html>