*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
}
.margin{
    margin: 30px;
}
p{
    margin: 10px;
}
.back{
    text-decoration: none;
    color:#ff5200;
    font-size: 15px;
    font-weight: bold;
}
h2{
    margin: 20px 0;
}

label{
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
input{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
}
.submit{
    margin: 10px;
    padding: 10px 50px;
    background-color: #ff5200;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.home{
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 50px;
    background-color: #ff5200;
    border: none;
    border-radius: 5px;
}
.home a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;

}
.term{
    margin-top: 60px;
    font-size: 12px;
}