*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:  #ff5200;
    color:white;
    position: relative;
}
.logo{
    display: flex;
    padding: 20px;
 
    
   }
.logo img{
    width: 40px;
} 
.logo h1{
    font-size: 30px;
  
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
nav div a{
  text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}
.dark{
    background-color:black;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.dark:hover{
    background-color:white;
    border: none;
    text-transform: capitalize;
    
    color: rgb(236, 30, 30);
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

 
.light{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 10px;

}

.left{
    position: absolute;
    left: 60px;
   width: 150px;
    top: 650px;
}
.left img{
    width: 250px;
}
.right{
    position: absolute;
    right: 0px;
    width: 150px;
    top: 650px;
}
.right img{
    width: 250px;
}

.hero{
    text-align: center;
    margin-top: 100px;
}
.hero h1{
    font-size: 50px;

}
.hero input{
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    margin-top: 20px;
}
.cards{
    justify-content: center;
    gap: 40px;
    margin: 50px;
    display: flex;

}
article{
    margin-top: 100px;
    background-color: white;
    color: black;
    height: 400px;
    border: none;
    border-radius: 20px;
    width: 400px;
    position: relative;
    cursor: pointer;
}
figure img{
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0px;
   
}
article h3{
    position: absolute;
    font-size: 40px;
    color: black;
    text-align: center;
    top: 50px;
    left: 80px;
    

}
#food h3{
    position: absolute;
    right: 100px;
}
#food p{
    position: absolute;
    right: 100px;
    top: 150px;
}
article p{
    position: absolute;
    top: 150px;
    left: 80px;
    font-size: 15px;
    color: darkgray;
  
}
article span a{
    font-size: 20px;
    color: #ff5200;
    text-decoration: none;
    position:absolute;
    text-align: center;
    bottom: 150px;
    left: 80px;
   
}
.arrow img{
    position: absolute;
    left: 100px;
    bottom: 80px;
   width: 50px;


}